:root{
    --secondaryColorOne:#D06550;
    --secondaryColorTwo:#DEB48E;
    --secondaryColorTwoTransparent:#deb38e54;
    --primaryColorOne:#D27C1F;
    --primaryColorTwo:#D88E35;
    --textColorOne:#FCEED8;
    --textColorTwo:#D7CBB2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
  background: linear-gradient(to right, var(--secondaryColorOne),var(--primaryColorOne) );
  display: flex;
  justify-content: center;
 
}
.wrapper{
  transform: translate(0,10%);
  width: 80vw;
  height: 85vh;
  background-color:var(--secondaryColorTwoTransparent) ;
  border-radius: 30px;
  padding: 5px;
  border: 4px solid var(--secondaryColorTwo);
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.719) ;
  
}
header{
  /* border: 3px solid green; */
  display:grid;
  grid-template-columns: 1fr;
  gap: 10px;

}
#circle{
  width: 15px;
  height:15px;
  background-color:var(--secondaryColorTwo);
  border-radius: 50%;
justify-self: center;
}

#rectangle{
  width: 50px;
  height:8px;
  background-color: var(--secondaryColorTwo);
  border-radius: 20px;
  justify-self: center;

}

.screen{
  margin: 10px;
  padding:20px;
  height: 65vh;
  background-color: inherit;
  display: grid;
  grid-template-columns: 1fr;
  
}

#button{
  justify-self: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color:var(--secondaryColorTwo);
  border: 3px solid var(--secondaryColorOne);

}
#button:focus{
  border: 3px solid var(--secondaryColorOne);

}

#search{
justify-self: center;
 width: 100%;
 height: 30px;
 padding:10px;
 font-size: 1.2rem;
 font-weight: bold;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color:rgba(255, 255, 255, 0.436);
}